*.DS_Store
*.idea
*.pro.user
build-*-Debug/
build-*-Release/
localData/
Library/doc/
Library/build/
Apps/DMViewer/doc/htmlDocumentation/
Apps/DMViewer/lib/*
!Apps/DMViewer/lib/README.md
Apps/simpleViewer/lib/*
!Apps/simpleViewer/lib/README.md
